<!-- Intro Three -->
<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>



<script type='text/x-handlebars-template' id='service-table'></script>



<section id="location" class="testimonial-section bg-white py-5 h-500">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center" id="allservices">



            </div>
        </div>

    </section>
</section>





<script>
    function add_service_tocart(id) {
        var id_kh = localStorage.getItem("senddata_login");
        var soluongcanmua = document.getElementById("inputQuantity").value;
        console.log(id_kh);
        id_kh = JSON.parse(id_kh);

        var soluongconlai = document.getElementById("input_sl").innerHTML;
   
        console.log("So luong con lai: " + soluongconlai);
        console.log("So luong can mua: " + soluongcanmua);

        console.log(typeof(soluongconlai));
        console.log(typeof(soluongcanmua));
        soluongcanmua = parseInt(soluongcanmua);
        soluongconlai = parseInt(soluongconlai);
        console.log(typeof(soluongconlai));
        console.log(typeof(soluongcanmua));

        if ((soluongcanmua <= soluongconlai) && (soluongcanmua > 0)) {
            console.log(soluongcanmua);
            console.log(soluongconlai);
            console.log(soluongcanmua - soluongconlai);
            add_product_into_cart(id, id_kh[0].id, soluongcanmua);
            alert("Thêm sản phẩm thành công");
        }
        else if(soluongcanmua == 0){
            alert("Cần đặt ít nhất 1 sản phẩm");
        }
        else{
             alert("Không đủ số lượng sản phẩm");
        }
        
    }
</script>

<script>    
     /*ham xu ly anh*/
    function Xulyanh(link) {
        link = link.split('d/');
       
        link = link[1];
        
        link = link.split('/');
    
        link = link[0];
       
        return link;
    }
</script>


<script>
    var id_service = localStorage.getItem("send_data");
    console.log(id_service);

    getService_byid(id_service, (result) => {
        var birds = result;
        console.log(birds.giaTien);
        var ele = document.getElementById('allservices');

        ele.innerHTML = ele.innerHTML +
            "<div class=\"col-md-6\">" +
            "<img class=\"card-img-top mb-5 mb-md-0 round\" src=\"https://drive.google.com/uc?export=view&id=" + Xulyanh("" + birds.image + "") + "\">" +
            "</div>" +

            "<div class=\"col-md-6\">" +

            "<h1 class=\"display-5 fw-bolder\">" + birds.tenSP + "</h1>" +
            "<div class=\"fs-5 mb-5\">" +
            "<div id =\"input_price\">" + birds.giaTien + "VNĐ" + "</div>" +
            "<div id =\"input_sl\" value = \""+birds.sl+"\">"  + birds.sl + "</div>" +
            "</div>" +

            "<div class=\"d-flex\">" +
            "<input class=\"form-control text-center me-3\" id=\"inputQuantity\" type=\"num\" style=\"max-width: 3rem\" />" +

            "<button class=\"w-45 btn btn-primary btn-lg\" type=\"submit\">" +

            "<a class=\"bi-cart-fill me-1\" onclick=\"add_service_tocart(" + birds.id + ")\" id=\"detai\" >Thêm vào giỏ hàng </a>" +
            "</button>" +
            "</div>" +
            "</div>";

        document.getElementById("allservices").innerHTML = ele.innerHTML;

       
    });
</script>


<section id="testimonial" class="testimonial-section bg-white py-5 h-1000">
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Our Promise</span>
                            <span class="section-heading-lower">To You</span>
                        </h2>
                        <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you
                            with friendly service, a welcoming atmosphere, and above all else, excellent products made
                            with the highest quality ingredients. If you are not satisfied, please let us know and we
                            will do whatever we can to make things right!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />