<script>
    var arr = [1, 2, ''];
    console.log(arr);

    arr = arr.filter(item => item !== '');
    console.log(arr);





    ham_getdetailbooking_duatren_madonhang(id, (result) => {
        var ele = document.getElementById('address_tiem');
        //xy ly di vao dschitiet 
        for (var i = 0; i <= result.payload.DSChiTiet.length; i++) {
            ham_timtengoivacxintheoid(idgoivacxin, result1)=> {
                for (int j = 0; j <= result.payload.DSChiTiet[i].DSmua; j++) {
                    for(int k = 0; k <= result1.payload.length; k++){
                         if (result.payload.DSChiTiet[i].DSmua[j] == result1.payload[k].id) {
                                ham_timtenkhachhangtheoid(idkh, result2) =>{
                                    //view data len
                    
                            }
                        }
                    }  
                }
            }
            // POPULATE SELECT ELEMENT WITH JSON.
            ele.innerHTML = ele.innerHTML +
                '<option value="' + birds.payload[i].id + '">' + birds.payload[i].name + '</option>';
        }
    });
</script>