{{!--
<script type="module" src="../public/javascripts/helper.js"> </script> --}}


{{!--
<script type="text/javascript" src="/public/javascripts/helper.js"> </script>




<script type="module">
    import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js'


</script> --}}

<script>
    var bien = Date();
    console.log(typeof (bien));
</script>

<section data-v-7cfa5cb3="" class="ep-section">
    <div data-v-7cfa5cb3="" class="ep-section__title">Thông tin dịch vụ</div>
    <div data-v-7cfa5cb3="" class="ep-section__body">
        <div data-v-7cfa5cb3="" class="el-form-item is-required"><label for="service_type"
                class="el-form-item__label">Loại vắc xin muốn đăng ký</label>
            <div class="el-form-item__content">
                <div data-v-7cfa5cb3="" role="radiogroup" class="el-radio-group"><label data-v-7cfa5cb3="" role="radio"
                        tabindex="0" class="el-radio-button"><input type="radio" tabindex="-1" autocomplete="off"
                            class="el-radio-button__orig-radio" value="package"><span class="el-radio-button__inner">Vắc
                            xin gói
                            <!---->
                        </span></label><label data-v-7cfa5cb3="" role="radio" tabindex="-1"
                        class="el-radio-button"><input type="radio" tabindex="-1" autocomplete="off"
                            class="el-radio-button__orig-radio" value="retail"><span class="el-radio-button__inner">Vắc
                            xin lẻ
                            <!---->
                        </span></label></div>
                <!---->
            </div>
        </div>
        <!---->
        <div data-v-7cfa5cb3="" class="el-form-item is-required"><label for="service_center"
                class="el-form-item__label">Trung tâm VNVC mong muốn tiêm</label>
            <div class="el-form-item__content">
                <div data-v-7cfa5cb3="" class="el-select">
                    <!---->
                    <div class="el-input el-input--suffix">
                        <!----><input type="text" readonly="readonly" autocomplete="off" placeholder="Chọn"
                            class="el-input__inner">
                        <!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                    class="el-select__caret el-input__icon el-icon-arrow-up"></i>
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                            </span>
                            <!---->
                        </span>
                        <!---->
                        <!---->
                    </div>
                    <div class="el-select-dropdown el-popper" style="display: none; min-width: 720px;">
                        <div class="el-scrollbar" style="">
                            <div class="el-select-dropdown__wrap el-scrollbar__wrap"
                                style="margin-bottom: -17px; margin-right: -17px;">
                                <ul class="el-scrollbar__view el-select-dropdown__list">
                                    <!---->
                                    <ul data-v-7cfa5cb3="" class="el-select-group__wrap">
                                        <li class="el-select-group__title">Miền Bắc</li>
                                        <li>
                                            <ul class="el-select-group">
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Thái Bình
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Yên Bái
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Hà Đông
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Sơn Tây
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bắc Giang
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Hưng Yên
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Nguyễn Thái
                                                    Học</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Long Biên
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Đông Anh
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Ninh Bình
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Mỹ Đình
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Vĩnh Yên
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC ICON 4 Cầu
                                                    Giấy</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Thái Nguyên
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item"> VNVC Hải Phòng
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bắc Ninh
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Nam Định
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Phú Thọ
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Hạ Long
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Thanh Hóa
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Trường
                                                    Chinh</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul data-v-7cfa5cb3="" class="el-select-group__wrap">
                                        <li class="el-select-group__title">Miền Trung</li>
                                        <li>
                                            <ul class="el-select-group">
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Hoàng Mai
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Đức Trọng
                                                    Lâm Đồng</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Đồng Hới
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Hà Tĩnh
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Quảng Ngãi
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Pleiku</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Thành phố
                                                    Huế</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Tam Kỳ</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Quy Nhơn
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Buôn Ma
                                                    Thuột</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Nha Trang
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Đà Nẵng
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Thành phố
                                                    Vinh</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul data-v-7cfa5cb3="" class="el-select-group__wrap">
                                        <li class="el-select-group__title">Miền Nam</li>
                                        <li>
                                            <ul class="el-select-group">
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bà Rịa</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Long Bình
                                                    Tân</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Tây Ninh
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bình Phước
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Cà Mau</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Vĩnh Long
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bến Tre
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Tân Phú
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Công Viên
                                                    Thanh Lễ, Bình Dương</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Lê Đại Hành
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Long Thành
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bình Thạnh
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Đồng Nai
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Long Khánh
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Quận 7</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC CANTAVIL Q2
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Vũng Tàu
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Dĩ An</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Bình Tân
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Thủ Đức
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Trung Sơn
                                                    Bình Chánh</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Tân An -
                                                    Long An</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Quận 12
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Long Xuyên
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Rạch Giá
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Mỹ Tho</li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Cần Thơ
                                                </li>
                                                <li data-v-7cfa5cb3="" class="el-select-dropdown__item">VNVC Hoàng Văn
                                                    Thụ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                                <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                                <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <div data-v-7cfa5cb3="" class="el-row" style="margin-left: -10px; margin-right: -10px;">
            <div data-v-7cfa5cb3="" class="el-col el-col-24 el-col-sm-12"
                style="padding-left: 10px; padding-right: 10px;">
                <div data-v-7cfa5cb3="" class="el-form-item is-required"><label for="service_interested_date"
                        class="el-form-item__label">Ngày mong muốn tiêm</label>
                    <div class="el-form-item__content">
                        <div data-v-7cfa5cb3=""
                            class="el-date-editor el-input el-input--prefix el-input--suffix el-date-editor--date">
                            <!----><input type="text" autocomplete="off" name="" placeholder="Ngày/Tháng/Năm"
                                class="el-input__inner"><span class="el-input__prefix"><i
                                    class="el-input__icon el-icon-date"></i>
                                <!---->
                            </span><span class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                        class="el-input__icon"></i>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                </span>
                                <!---->
                            </span>
                            <!---->
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</section>