<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />
<img class="card-img" src="/Header.png" alt="..." />




<!--
 Contact Block -->

{{!-- còn cái phần này là phần giao diện chính của cart khi nào dùng thì mở comment ra là dc --}}
<!-- cart-->
<section id="cart" class="  bg-white">
    <div class="container py-5">


        <div class="row g-5">
            {{!-- phan gio hang --}}


            {{!-- đang cấn đoạn này --}}


            {{!-- fill infor listcard --}}





            <div class="col-md-7 col-lg-8">

                <h4 class="mb-3">Giỏ Hàng</h4>


                <div class="col-md-5 col-lg-4 order-md-last">

                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Danh sách sản phẩm</span>
                        <span class="badge bg-primary rounded-pill"></span>
                    </h4>
                    <ul class="list-group mb-3">
                        <table class="table table-bordered" id="myTable" width="1000%" height="1000%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>


                                    <th>Phí ship</th>
                                    <th>Tổng tiền</th>
                                    <th>Tình trạng đơn hàng</th>
                                     <th>Tình trạng thanh toán</th>
                                    <th>Ngày lập đơn</th>
                                    <th>Xóa đơn hàng</th>
                                </tr>

                            </thead>

                            <tbody id="data_cart">


                            </tbody>


                        </table>


                    </ul>

                </div>




                <script language="javascript">

                    function validateSelectBox(obj) {

                        var options = obj.children;
                        var html = '';
                        for (var i = 0; i < options.length; i++) {
                            if (options[i].selected) {
                                html += options[i].value;
                            }
                        }

                    }
                </script>


                <script>

                    function Update_cart() {

                        window.location.href = "http://localhost:8888/ordered_cus";
                        var html = "<input type=\"button\" value=\"x\" onclick=\"deleteRow(this)\">";
                       
                        var ele = document.getElementById('data_cart');

                        var id_kh = localStorage.getItem("senddata_login");
                        id_kh = JSON.parse(id_kh);

                        console.log(id_kh[0].id);

                        get_orderofcustomer(id_kh[0].id, (result) => {
                            console.log(result.length);
                            /*id_service_arr = id_service_arr.split(',');*/
                            for (let i = 0; i < result.length; i++) {
                                ele.innerHTML = ele.innerHTML     +       "<tr>" +
                                "<td>" + result[i].id + "</td>" +
                                "<td>" + result[i].phiShip + "</td>" +
                                "<td>" + result[i].tongTien + "</td>" +
                                "<td>" + result[i].tinhTrangDonHang + "</td>" +
                                "<td>" + result[i].tinhTrangThanhToan + "</td>" +
                                "<td>" + result[i].ngayLapDon + "</td>" +
                                "<td>" + html + "</td>" +

                                "</tr>";
                            }
                            document.getElementById("data_cart").innerHTML = ele.innerHTML;
                        })
                        /*------add_booking("12-09-2021", "23:00", "1", "Le thi", "1234567890", "abc@gmail.com", 260000, "3", "1");--------*/

                    }
                   
                </script>

                <script type='text/x-handlebars-template' id='emp-table'></script>
                <script type='text/x-handlebars-template' id='service-table'></script>
                <script type='text/x-handlebars-template' id='booking-table'></script>


                {{!-- function delete row --}}
                <script>

                    console.log("ss");
                    /*var id_service = localStorage.getItem("senddata");*/
                    function deleteRow(r) {

                        var c = confirm("Bạn có chắc muốn xóa đơn hàng này?");
                        if (c == true) {
                            var i = r.parentNode.parentNode.rowIndex;
                            var j = document.getElementsByTagName("tr")[i];
                            var index = j.childNodes[0].innerHTML;
                            var index1 = j.childNodes[3].innerHTML;

                            console.log(index);
                            console.log(index1);
                            if(index1 == "Chờ tiếp nhận"){
                                console.log(index1);
                                Delete_order(index);
                                document.getElementById("myTable").deleteRow(i);
                            }
                            else {
                                alert("Không thể hủy đơn hàng này");
                            }
                            

                        }
                       
                        Update_cart();
                    }
                </script>


                {{!-- đổ dữ liệu lên table --}}
                <script>
                    var id_kh = localStorage.getItem("senddata_login");
                    id_kh = JSON.parse(id_kh);

                    console.log(id_kh[0].id);

                    get_orderofcustomer(id_kh[0].id, (result) => {

                        var birds = result;

                        var html1 = "<input type=\"button\" value=\"x\" onclick=\"deleteRow(this)\">";
                        var ele = document.getElementById('data_cart');

                        console.log(result);
                        for (var i = 0; i < birds.length; i++) {

                            // POPULATE SELECT ELEMENT WITH JSON.
                            ele.innerHTML = ele.innerHTML +
                                "<tr>" +
                                "<td>" + birds[i].id + "</td>" +
                                "<td>" + birds[i].phiShip + "</td>" +
                                "<td>" + birds[i].tongTien + "</td>" +
                                "<td>" + birds[i].tinhTrangDonHang + "</td>" +
                                "<td>" + birds[i].tinhTrangThanhToan + "</td>" +
                                "<td>" + birds[i].ngayLapDon + "</td>" +
                                "<td>" + html1 + "</td>" +

                                "</tr>";

                            onClick = "homeForm(\''+myForm+'\',\''+divName+'\')"

                        }

                        document.getElementById("data_cart").innerHTML = ele.innerHTML;

                    });
                </script>



            </div>
        </div>



    </div>
</section>


{{!-- Cái phần này là cái form để demo thêm 1 service thông qua điền form rồi click nút add_service sẽ gọi api
add_service --}}