<head>
    <link href="/stylesheets/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Đăng kí</h1>
                            </div>
                            <form class="user" id = "add1">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="name"
                                        placeholder="Tên shop">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="username"
                                        placeholder="Tài khoản">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="pass"
                                        placeholder="Mật khẩu">
                                </div>
                                 <div class="form-group">
                                    <input type="phone" class="form-control form-control-user" id="phone"
                                        placeholder="Số điện thoại">
                                </div>
                                 <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="address"
                                        placeholder="Địa chỉ">
                                </div>
                                 <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="somuitiem"
                                        placeholder="Tình trạng">
                                </div>
                               {{!--  <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Mật khẩu">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Xác nhận lại mật khẩu">
                                    </div>
                                </div> --}}
                                
                            
                                 <input type="submit" class="btn btn-primary btn-user btn-block" value="Đăng ký">
                                <hr>
                                <a href="/registerncc" class="btn btn-primary btn-user btn-block">
                                    Đăng kí tài khoản nhà cung cấp
                                </a>
                                <a href="/registershipper" class="btn btn-primary btn-user btn-block">
                                    Đăng kí tài khoản shipper
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Quên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login">Đã có tài khoản? Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/javascripts/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/stylesheets/sb-admin-2.min.css"></script>

</body>

{{!-- type="text/javascript"
javascript --}}
<script>

    var form = document.getElementById('add1');
    form.addEventListener('submit', function (event) {
        event.preventDefault();


        var name = document.getElementById('name').value;
        var username = document.getElementById('username').value;
        var pass = document.getElementById('pass').value;
        var phone = document.getElementById('phone').value;
        var email = document.getElementById('email').value;
        var address = document.getElementById('address').value;
        var somui = document.getElementById('somuitiem').value;

       
        Register_account_supplier(name, username, pass, phone, email, address, somui);
    });
</script>

{{!--  console.log(id);
        console.log(name);
        console.log(username);
        console.log(pass);
        console.log(phone);
        console.log(email);
        console.log(address);
        console.log(area); --}}